/* Home page code /       warning, most of everything here is copy paste then reassigned to fit context yet again (WHAT A SURPRISE!!!!)*/

* {
    margin: 0;
    padding: 0;
}

.header { /*image and image navigation code */
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7)), url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links{
	flex: 1;
	text-align: right;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #e9ab17;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box{ /*specifically for all text boxes*/
	width: 90%;
	color: #e9ab17;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.text-box h1 {
    font-size: 42px;
}

.text-box p{
	margin: 10px 0 40px;
	font-size: 14px;
	color: #e9ab17;
}
	
.hero-btn{ /*this was meant for the "explore more" block but it didnt work so I transfered it to internal styling and inline*/
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
	
}

nav.fa { /* fa for Font Awesone*/
    display: none;
}

@media (max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: fixed;
        background: #e9ab17;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
		transition: 1s;
    }
    nav.fa { 
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
	}
	.nav-links ul{
		padding: 30px;
	}
}

/* Footer code */

.footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;
	color: #e9ab17;
}

.footer h4{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
	color: #e9ab17;
	
}

.icons.fa{
	color: #f44336;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
}

i.fa-heart-o{ /*love foot*/
	color: #f44336;
}


/* About Us code */

.sub-header{
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7)), url(images/aboutus.png);
	background-position: center;
    background-size: cover;
    text-align: center;
	color: #fff;
}

.sub-header h1{
	margin-top: 50px;
}

body { /*this was a late placement but its to make every page specifically Dark Coal color to create a dark theme of the website and match the white and yellow colors*/
    background-color: #333333;
    color: #ffffff; 
}


.about-us{
	width: 45%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;
}

.about-col{
	flex-basis: 0;
	padding: 20px 2px;
	color: #e9ab17;
}

.about-col img{
	width: 100%;
	flex: 0
}

.about-col h1{
	paddin-top: 0;
}
.about-col p{
	padding: 15px 0 25px;
}

.red-btn{
	border: 1px solid #e9ab17;
	background: transparent;
	color: #e9ab17;
}

.red-btn:hover{
	color: #e9ab17;
}
	
/*Portfolio code */	


.portfolio{
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7)), url(images/portfolio.jpg);
	background-position: center;
    background-size: cover;
    text-align: center;
	color: #fff;
}

.portfolio h1{
	margin-top: 50px;
}

.port{
	width: 45%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;
	text-align:center
}
	
.port-col{
	flex-basis: 0;
	padding: 20px 2px;
	color: #e9ab17;
}

.port-col img{
	width: 100%;
	flex: 0
}

.port-col h1{
	paddin-top: 0;
}
.port-col p{
	padding: 15px 0 25px;
}

/* Services code */

.services{ /*as i said, most is rince and repeat, there isnt really any reason for me to use more comments than maybe 2 times just so you get the gist of things*/
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7)), url(images/services.jpg);
	background-position: center;
    background-size: cover;
    text-align: center;
	color: #fff;
}

.services h1{
	margin-top: 50px;
}

.serv{
	width: 45%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;
	text-align:left
}
	
.serv-off{
	flex-basis: 0;
	padding: 20px 2px;
	color: #e9ab17;
}

.serv-off img{
	width: 100%;
	flex: 0
}

.serv-off h1{
	paddin-top: 0;
}
.serv-off p{
	padding: 15px 0 25px;
}

.serv-off {
    display: flex;
    padding: 20px; 
}

.service-box {
    flex: 1; 
    padding: 20px; 
    margin: 0 10px; 
    border: 1px solid #e9ab17; 
    background-color: #333333; 
}

.service-box h2 {
    margin-top: 0; 
}

.service-box p {
    margin-bottom: 0; 
}

/* Contact us code */

.location{
	width: 80%;
	margin: auto;
	padding: 80px 0;
}

.location iframe{
	width: 100%;
}

.contact{
	width: 80%;
	margin: auto;
}

.con-col{
	flex-basis: 48%;
	margin-bottom: 30px;
}

.con-col div{
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.con-col div .fa{
	font-size: 28px;
	color: #e9ab17;
	margin: 10px;
	margin-right: 30px;
}

.con-col div p{
	padding: 0
}

.con-col div h4{
	font-size: 20px;
	margin-bottom: 5px;
	color: #555;
	font-weight: 400;
}

.con-sol input, .con-sol textarea{ /*this is specifically for the form submission thingy, not connected to the other things */
	width: 100%;
	padding: 15px;
	margin-bottom: 17px;
	outline: none;
	border: 1px solid #ccc;
}
	